{% extends "play.html" %}

{% block title %}Admin{% endblock title %}

{% block body %}
    <h1>Admin Console
        <img src="/me/identicon?{{ user.userkey }}" alt="{{ user.userkey }}" />
    </h1>
    <div class="vertical-flex">
        <div>
            <h3>Resize field:</h3>
            <label>width: <input type="number" min="4" max="64" value="{{ width }}" id="new_field_width"</label>
            <br>
            <label>height: <input type="number" min="4" max="64" value="{{ height }}" id="new_field_height"</label>
        </div>
        <div>
            <h3>Number of snakes</h3>
            <label><input type="number" min="1" max="8" value="{{ n_snakes }}" id="new_n_snakes"</label>
            <br>
            <button id="update_arena">Update Arena</button>
        </div>
        <script src="/static/admin.js"></script>
    </div>
    {{ super() }}
{% endblock %}
