{% extends "base.html" %}

{% block title %}Play{% endblock title %}

{% block header %}
    <div id="logo">
        <a href="/" target="_top" class="no-rotate"> <img src="/static/favicon.svg" loading="lazy" alt="logo" /> </a>
        <a href="/" target="_top"> <strong>MultiPlayer Snake</strong> </a>
        <a href="/" target="_top"> <sub>mps.estada.ch</sub> </a>
    </div>
{% endblock %}

{% block modal %}
    <div id="modal-explanation" class="hidden">
        <h1>How to play?</h1>
        <h3>⏺ You are assigned a random snake</h3></li>
        <h3>⏺ You can vote on the <i>direction</i> your snake will take</h3>
        <h3>⏺ To switch snakes, you have to reload the game</h3>
        <button>Okay, let me play!</button>
    </div>
{% endblock %}

{% block body %}
    <div class="flex two-column">
        <div class="flex">
            <div class="row">
                <canvas>
                    Your browsers needs WebSocket and Canvas enabled for this to work.
                </canvas>
            </div>
            <div class="row">
                <button id="left">↰ left</button>
                <button id="straight">↑ straight ↑</button>
                <button id="right">right ↱</button>
            </div>
        </div>
        
        <div class="row center-text two-column-inner">
            <div id="current_players">Connecting ...</div>
            <div id="high_score"></div>
            <div id="ping_time"></div>
        </div>
    </div>

    <footer>
        A break game for <a href="https://rustfest.global" target="_blank">RustFest.global</a>
        created by <a href="https://estada.ch" target="_blank">Stefan Schindler</a>
        (<a href="https://twitter.com/dns2utf8" target="_blank">@dns2utf8</a>)
        <!--<br>
        Checkout the <a href="https://gitlab.com/dns2utf8/multiplayer_snake" target="_blank">Source Code on GitLab</a>.
        -->
    </footer>

    <script src="/static/renderer.js"></script>
    <script src="/static/buttons.js"></script>
    <script src="/static/main.js"></script>
{% endblock %}
