{% extends "base_full.html" %}

{% block title %}You Profile{% endblock title %}

{% block body %}
    <h1>Sign in first</h1>
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
    <p>
        <form method="post" action="/me/login?next={{ next }}" autocomplete="off">
            <label>Userkey: <input type="text" autocomplete="off" name="userkey" autofocus="autofocus" spellcheck="false"{% if userkey %} value="{{ userkey }}"{% endif %} /></label>
            <input type="submit" value="Login" />
        </form>
    </p>
    <p>
        <b>Hint:</b> You can get your user key by running this command:
        <pre>cargo run --bin mps_admin_cli -- list</pre>
    </p>
{% endblock %}
